@import "../../global.scss";

p{
    overflow: hidden; 
   
 }
.resumeWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;  
    background-color: #7FFFD4;
    overflow: hidden; 
}
.resumeImgContainer{   
    max-width: 200px; 
    overflow: hidden;
       
}
.resumepar{
  
    padding:15px;
    text-align: center;
    overflow: hidden; 
}

.resumeImg{
    
    width:100%; 
    overflow: hidden; 
    
}
.resumePdf{
    width:50px;
    text-decoration: none;
    color:black;
    padding:10px;   
    overflow: hidden;  
   
}