/*contact style*/
@import "../../global.scss";



.formContainer{    
   
   
    box-shadow: 0 0 200px 0 rgb(252, 250, 250);   
       
}    
form{
  
    translate:middle;
    color:#777;
    margin:2rem auto; 
    max-width: 500px;  
   
    margin:5rem auto; 
    box-shadow: 0 0 150px 0 aqua;  
}
label{
    text-transform: uppercase;
    font-size: 14px;    
}
input, textarea{
    border:2px solid #777;
    padding:5rem;
    width:100%;
}
.formBtn{
    width:auto;
    padding: .5rem;    
    text-transform: uppercase;
    color:#777;
    background-color: white;
    margin:1rem 0;    
    font-size:16px;
    border:none;
    border-radius: 10px;
    cursor:pointer;  
    &:hover{
        color:white;
        background:aqua;

    } 
}
