//intro Style


.introPar{
    padding:15px;
    text-align: justify;
    overflow: hidden;                    
}  
  //intro image style

.introImg{
  max-width: 100%;
  display: block;
    
clip-path: circle(45%);
}